*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.row:before,  .row:after{
  content:"";
  display: table;
  clear: both;
}

[class*="col-"]{
  float:left;
  min-height: 7px;
  /*gutters*/
  margin: 10px;
}

/*Segun el sistema de 12 columnas hacemos la sig operacion
(100/12)* num-col */

.col-1{width: calc(8.33333333% - 20px);}
.col-2{width: calc(16.666667% - 20px);}
.col-3{width: calc(25% - 20px);}
.col-4{width: calc(33.333333% - 20px);}
.col-5{width: calc(41.666667% - 20px);}
.col-6{width: calc(50% - 20px);}
.col-7{width: calc(58.3333333% - 20px);}
.col-8{width: calc(66.6666667% - 20px);}
.col-9{width: calc(75% - 20px);}
.col-10{width: calc(83.3333333% - 20px);}
.col-11{width: calc(91.6666667% - 20px);}
.col-12{width: calc(100% - 20px);}

/*.head {
  outline: 2px solid black;
}*/

.space {
  margin-left: 65px;
  margin-right: 65px;
}
